@import "../../node_modules/tailwindcss";

@config "../../tailwind.config.js";

/* Utility to hide native scrollbars (FF/WebKit/Edge) */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
